.container {
    margin: 50px auto;
    background-color: rgb(202, 230, 230);
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
} 

h2 {
    color: rgb(135, 168, 135);
    padding-bottom: 5px;
}